.main-div{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
    flex-wrap: wrap;
}
.child{
    margin: 20px !important;
}
.Head{
    text-align: center;
    padding: 10px;
}